#chat-screen {
    background-color: #bacfde;
}

#chat-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #bacfde;
    z-index: 1;
}
#chat-screen .status-bar {
    background-color: #bacfde;
    z-index: 2; /*header보다 위에 위치하도록*/
}

.main-chat {
    z-index: 0;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: var(--gray);
    opacity: 0.6;
    padding: 13px;
    border-radius : 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 13px;
}
.message__author {
    margin-bottom: 8px;
    display: block;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__time,
.message__author {
    opacity: 0.7;
    font-size: 13px;
}
