#chat-screen {
    background-color: #bacfde;
}

#chat-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #bacfde;
    z-index: 1;
}
#chat-screen .status-bar {
    background-color: #bacfde;
    z-index: 2; /*header보다 위에 위치하도록*/
}

/*채팅창 애니메이션*/
@keyframes fadeIn_left {
    from{
        transform: translateX(-10px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
/*6.38 과제*/
@keyframes fadeIn_right {
    from{
        transform: translateX(10px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    z-index: 0;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    /* animation: fadeIn 0.5s linear; */
}

.chat__timestamp {
    color: white;
    background-color: var(--gray);
    opacity: 0.6;
    padding: 13px;
    border-radius : 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    animation: fadeIn_left 0.5s linear;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 13px;
}
.message__author {
    margin-bottom: 8px;
    display: block;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__time,
.message__author {
    opacity: 0.7;
    font-size: 13px;
}

.message-row--own {
    justify-content: flex-end;
    animation: fadeIn_right 0.5s linear;
}
.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    margin-right: 0px;
    margin-left: 5px;
}
.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: transform .3s ease-in-out;
}
.reply .reply__column:first-child {
    width: 10%;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}
.reply i{
    opacity: 0.5;
}
.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out; 
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -3px;
    top: 4px;
}
.reply__column:last-child > i {
    right: 40px;
    top: 18px;
}
.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.reply__column button i {
    opacity: 1;
}
.reply__column button:focus, 
.reply__column button:active {
    outline: none;
}

/*키보드*/
.reply .reply__column:first-child,
.reply .fa-face-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
    opacity: 0;
}
.reply input:focus {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
    transform: translateY(80px);
}