.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px var(--horizontal-space) 20px; /*top left&right bottom */
    margin-bottom: 15px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}
/*6.21 과제*/
.screen-header__dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: -4px;
    top: -6px;
}

/*아이콘 위에 마우스 올리면 돌아가도록*/
@keyframes rotateGear {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-gear:hover {  
    animation: rotateGear 1.5s linear infinite;
}